Classwork/.ipynb_checkpoints/Module 1 - Python Basics-checkpoint.ipynb
Classwork/.ipynb_checkpoints/Module 2 - Data Handling-checkpoint.ipynb
Classwork/.ipynb_checkpoints/Module 3 - Web Scraping Essentials-checkpoint.ipynb
Classwork/.ipynb_checkpoints/Module 1 - Python Basics-checkpoint.ipynb
Classwork/tutorial-03/.env
Classwork/tutorial-04/.env
Classwork/tutorial-04/__pycache__/app_tools.cpython-312.pyc
Classwork/tutorial-02/.gradio/certificate.pem
