Classwork/.ipynb_checkpoints/Module 1 - Python Basics-checkpoint.ipynb
Classwork/.ipynb_checkpoints/Module 2 - Data Handling-checkpoint.ipynb
Classwork/.ipynb_checkpoints/Module 3 - Web Scraping Essentials-checkpoint.ipynb
Classwork/.ipynb_checkpoints/Module 1 - Python Basics-checkpoint.ipynb
